@import './variables';

@import './../../node_modules/bootstrap/scss/functions';
@import './../../node_modules/bootstrap/scss/variables';

@import './../../node_modules/bootstrap/scss/bootstrap.scss';

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.txt-19{
    font-size: 19px;
}
.txt-18{
    font-size: 18px;
}
.txt-17{
    font-size: 17px;
}
.txt-65{
    font-size: 65px;
}
.txt-30{
    font-size: 30px;
}
.pa-9{
    padding-right: 8px;
}
.font-family{
    font-family: "Poppins", sans-serif;
}
.font-family-cormorant{
    font-family: "Cormorant", serif
}
.line{
    background-color: #FFFFFF;
    width: 100%;
    height: 1px;
}
.btn{
    --bs-border-radius: none;
}
.line-short{
    background-color: #111;
    width: 70px;
    height: 2px;
}
.link-deco{
    text-decoration: underline;
}
.font-50{
    font-size: 50px;
}
@media (min-width: 991.98px){
    .about-us .about{
        max-width: 70%;
    }
    .about-us .about>p{
        max-width: 80%;
    }
}
@media (max-width: 1199.98px){
    .about-us .d-not{
        display: none;
    }
}
.courses .course>img{
    max-width: 100%;
}
.courses .course{
    margin-bottom: 150px;
}
.courses .course .box{
    max-width: 85%;
    left: 32px;
    top: 70%;
}

.membership{
    background-image: url(./../images/membership-bg-img.jpg);
    background-size: cover;      
    background-repeat: no-repeat;
}
.choose-us .vdo iframe{
    width: 100%;
    height: 550px;
}
.choose-us .poster div{
    width: 45%;
}
.choose-us .poster{
    position: absolute;
    top: 75%;
    left: 8.2%;
}